.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__group
        = @group.name
      %ul.chat-main__group-info__left-box__user
        %li.chat-main__group-info__left-box__user__member="member : "
        %li.chat-main__group-info__left-box__user__name
          - @group.users.each do |user|
            = user.name
    .chat-main__group-info__right-box
      = link_to edit_group_path(@group) do
        .edit-button="Edit"
  .messages
    = render @messages
  .form
    .form__message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fa','image',class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'